In [16]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [17]:
original = pd.read_csv(r'..\..\datasets\nfs_cleaned_most_common_ncm.csv', encoding='latin-1')

iforest = pd.read_csv(r'..\iforest\output\outliers.csv', encoding='latin-1')
iforest = iforest['idx']

som = pd.read_csv(r'..\som\output\outliers.csv', encoding='latin-1')
som = som['idx']

lof = pd.read_csv(r'..\lof\output\outliers.csv', encoding='latin-1')
lof = lof['idx']

intersec1 = pd.read_csv(r'output\som_iforest_intersec.csv', encoding='latin-1')
intersec1 = intersec1['idx']

intersec2 = pd.read_csv(r'output\som_lof_intersec.csv', encoding='latin-1')
intersec2 = intersec2['idx']

intersec3 = pd.read_csv(r'output\lof_iforest_intersec.csv', encoding='latin-1')
intersec3 = intersec3['idx']

intersec4 = pd.read_csv(r'output\all_intersec.csv', encoding='latin-1')
intersec4 = intersec4['idx']

In [18]:
iforest_rows = original.loc[iforest]
iforest_rows['idx'] = iforest_rows.index
iforest_rows.to_csv(r'output\iforest_real_values.csv', encoding='utf-8', index=False)
iforest_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 764 entries, 71964 to 55970
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         764 non-null    int64
 1   nf_item           764 non-null    int64
 2   nf_datahora       764 non-null    object
 3   nf_timestamp      764 non-null    int64
 4   nf_valor_total    764 non-null    float64
 5   emit_nome         764 non-null    object
 6   emit_cnpj         764 non-null    int64
 7   emit_bairro       764 non-null    object
 8   emit_municipio    764 non-null    object
 9   emit_cep          764 non-null    int64
 10  emit_lat          764 non-null    float64
 11  emit_long         764 non-null    float64
 12  prod_desc         764 non-null    object
 13  prod_ncm          764 non-null    int64
 14  prod_cfop         764 non-null    int64
 15  prod_quant        764 non-null    float64
 16  prod_unid         764 non-null    object
 17  prod_valor_unit   764 non-null    float64
 18  prod_valor_total  764 non-null    float64
 19  idx               764 non-null    int64
dtypes: float64(6), int64(8), object(6)
memory usage: 125.3+ KB

In [19]:
som_rows = original.loc[som]
som_rows['idx'] = som_rows.index
som_rows.to_csv(r'output\som_real_values.csv', encoding='utf-8', index=False)
som_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765 entries, 70971 to 55230
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         765 non-null    int64
 1   nf_item           765 non-null    int64
 2   nf_datahora       765 non-null    object
 3   nf_timestamp      765 non-null    int64
 4   nf_valor_total    765 non-null    float64
 5   emit_nome         765 non-null    object
 6   emit_cnpj         765 non-null    int64
 7   emit_bairro       765 non-null    object
 8   emit_municipio    765 non-null    object
 9   emit_cep          765 non-null    int64
 10  emit_lat          765 non-null    float64
 11  emit_long         765 non-null    float64
 12  prod_desc         765 non-null    object
 13  prod_ncm          765 non-null    int64
 14  prod_cfop         765 non-null    int64
 15  prod_quant        765 non-null    float64
 16  prod_unid         765 non-null    object
 17  prod_valor_unit   765 non-null    float64
 18  prod_valor_total  765 non-null    float64
 19  idx               765 non-null    int64
dtypes: float64(6), int64(8), object(6)
memory usage: 125.5+ KB

In [20]:
lof_rows = original.loc[lof]
lof_rows['idx'] = lof_rows.index
lof_rows.to_csv(r'output\lof_real_values.csv', encoding='utf-8', index=False)
lof_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765 entries, 72126 to 40329
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         765 non-null    int64
 1   nf_item           765 non-null    int64
 2   nf_datahora       765 non-null    object
 3   nf_timestamp      765 non-null    int64
 4   nf_valor_total    765 non-null    float64
 5   emit_nome         765 non-null    object
 6   emit_cnpj         765 non-null    int64
 7   emit_bairro       765 non-null    object
 8   emit_municipio    765 non-null    object
 9   emit_cep          765 non-null    int64
 10  emit_lat          765 non-null    float64
 11  emit_long         765 non-null    float64
 12  prod_desc         765 non-null    object
 13  prod_ncm          765 non-null    int64
 14  prod_cfop         765 non-null    int64
 15  prod_quant        765 non-null    float64
 16  prod_unid         765 non-null    object
 17  prod_valor_unit   765 non-null    float64
 18  prod_valor_total  765 non-null    float64
 19  idx               765 non-null    int64
dtypes: float64(6), int64(8), object(6)
memory usage: 125.5+ KB

In [21]:
intersec1 = original.loc[intersec1]
intersec1['idx'] = intersec1.index
intersec1.to_csv(r'output\som_iforest_real_values.csv', encoding='utf-8', index=False)
intersec1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218 entries, 46592 to 46591
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         218 non-null    int64
 1   nf_item           218 non-null    int64
 2   nf_datahora       218 non-null    object
 3   nf_timestamp      218 non-null    int64
 4   nf_valor_total    218 non-null    float64
 5   emit_nome         218 non-null    object
 6   emit_cnpj         218 non-null    int64
 7   emit_bairro       218 non-null    object
 8   emit_municipio    218 non-null    object
 9   emit_cep          218 non-null    int64
 10  emit_lat          218 non-null    float64
 11  emit_long         218 non-null    float64
 12  prod_desc         218 non-null    object
 13  prod_ncm          218 non-null    int64
 14  prod_cfop         218 non-null    int64
 15  prod_quant        218 non-null    float64
 16  prod_unid         218 non-null    object
 17  prod_valor_unit   218 non-null    float64
 18  prod_valor_total  218 non-null    float64
 19  idx               218 non-null    int64
dtypes: float64(6), int64(8), object(6)
memory usage: 35.8+ KB

In [22]:
intersec2 = original.loc[intersec2]
intersec2['idx'] = intersec2.index
intersec2.to_csv(r'output\som_lof_real_values.csv', encoding='utf-8', index=False)
intersec2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 72320 to 74235
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         49 non-null     int64
 1   nf_item           49 non-null     int64
 2   nf_datahora       49 non-null     object
 3   nf_timestamp      49 non-null     int64
 4   nf_valor_total    49 non-null     float64
 5   emit_nome         49 non-null     object
 6   emit_cnpj         49 non-null     int64
 7   emit_bairro       49 non-null     object
 8   emit_municipio    49 non-null     object
 9   emit_cep          49 non-null     int64
 10  emit_lat          49 non-null     float64
 11  emit_long         49 non-null     float64
 12  prod_desc         49 non-null     object
 13  prod_ncm          49 non-null     int64
 14  prod_cfop         49 non-null     int64
 15  prod_quant        49 non-null     float64
 16  prod_unid         49 non-null     object
 17  prod_valor_unit   49 non-null     float64
 18  prod_valor_total  49 non-null     float64
 19  idx               49 non-null     int64
dtypes: float64(6), int64(8), object(6)
memory usage: 8.0+ KB

In [23]:
intersec3 = original.loc[intersec3]
intersec3['idx'] = intersec3.index
intersec3.to_csv(r'output\lof_iforest_real_values.csv', encoding='utf-8', index=False)
intersec3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 72194 to 72191
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         33 non-null     int64
 1   nf_item           33 non-null     int64
 2   nf_datahora       33 non-null     object
 3   nf_timestamp      33 non-null     int64
 4   nf_valor_total    33 non-null     float64
 5   emit_nome         33 non-null     object
 6   emit_cnpj         33 non-null     int64
 7   emit_bairro       33 non-null     object
 8   emit_municipio    33 non-null     object
 9   emit_cep          33 non-null     int64
 10  emit_lat          33 non-null     float64
 11  emit_long         33 non-null     float64
 12  prod_desc         33 non-null     object
 13  prod_ncm          33 non-null     int64
 14  prod_cfop         33 non-null     int64
 15  prod_quant        33 non-null     float64
 16  prod_unid         33 non-null     object
 17  prod_valor_unit   33 non-null     float64
 18  prod_valor_total  33 non-null     float64
 19  idx               33 non-null     int64
dtypes: float64(6), int64(8), object(6)
memory usage: 5.4+ KB

In [24]:
intersec4 = original.loc[intersec4]
intersec4['idx'] = intersec4.index
intersec4.to_csv(r'output\all_intersec_real_values.csv', encoding='utf-8', index=False)
intersec4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 62178 to 70971
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nf_numero         8 non-null      int64
 1   nf_item           8 non-null      int64
 2   nf_datahora       8 non-null      object
 3   nf_timestamp      8 non-null      int64
 4   nf_valor_total    8 non-null      float64
 5   emit_nome         8 non-null      object
 6   emit_cnpj         8 non-null      int64
 7   emit_bairro       8 non-null      object
 8   emit_municipio    8 non-null      object
 9   emit_cep          8 non-null      int64
 10  emit_lat          8 non-null      float64
 11  emit_long         8 non-null      float64
 12  prod_desc         8 non-null      object
 13  prod_ncm          8 non-null      int64
 14  prod_cfop         8 non-null      int64
 15  prod_quant        8 non-null      float64
 16  prod_unid         8 non-null      object
 17  prod_valor_unit   8 non-null      float64
 18  prod_valor_total  8 non-null      float64
 19  idx               8 non-null      int64
dtypes: float64(6), int64(8), object(6)
memory usage: 1.3+ KB

In [102]:
#query = original[original['prod_desc'].str.contains('diosmina', case=False) & original['prod_desc'].str.contains('450', case=False) & ((original['prod_unid'] == 'cpr') | (original['prod_unid'] == 'cp'))]
query = original[original['prod_desc'].str.contains('zytiga', case=False) & original['prod_desc'].str.contains('250', case=False) & (original['prod_unid'] == 'cx')]
#query = original[original['prod_desc'].str.contains('fluconazol', case=False) & ((original['prod_unid'] == 'cpr') | (original['prod_unid'] == 'cp'))]
#query = original[original['prod_desc'].str.contains('diosmina', case=False) & (original['prod_unid'] == 'cp')]
#query = original[original['prod_desc'].str.contains('anestesico topico', case=False)]
query.describe()

,nf_numero,nf_item,nf_timestamp,nf_valor_total,emit_cnpj,emit_cep,emit_lat,emit_long,prod_ncm,prod_cfop,prod_quant,prod_valor_unit,prod_valor_total
count,2.000000e+00,2.000000,2.000000e+00,2.000000,2.000000e+00,2.0,2.000000,2.000000,2.0,2.000000,2.0,2.00,2.00
mean,1.466123e+06,5.000000,1.459871e+09,21313.730000,4.473467e+13,13974900.0,-22.436111,-46.821667,30049099.0,4154.000000,1.0,1674.48,1674.48
std,4.652763e+02,5.656854,8.570841e+03,27774.093705,0.000000e+00,0.0,0.000000,0.000000,0.0,2761.959087,0.0,0.00,0.00
min,1.465794e+06,1.000000,1.459865e+09,1674.480000,4.473467e+13,13974900.0,-22.436111,-46.821667,30049099.0,2201.000000,1.0,1674.48,1674.48
25%,1.465958e+06,3.000000,1.459868e+09,11494.105000,4.473467e+13,13974900.0,-22.436111,-46.821667,30049099.0,3177.500000,1.0,1674.48,1674.48
50%,1.466123e+06,5.000000,1.459871e+09,21313.730000,4.473467e+13,13974900.0,-22.436111,-46.821667,30049099.0,4154.000000,1.0,1674.48,1674.48
75%,1.466288e+06,7.000000,1.459874e+09,31133.355000,4.473467e+13,13974900.0,-22.436111,-46.821667,30049099.0,5130.500000,1.0,1674.48,1674.48
max,1.466452e+06,9.000000,1.459877e+09,40952.980000,4.473467e+13,13974900.0,-22.436111,-46.821667,30049099.0,6107.000000,1.0,1674.48,1674.48

In [103]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
query

,nf_numero,nf_item,nf_datahora,nf_timestamp,nf_valor_total,emit_nome,emit_cnpj,emit_bairro,emit_municipio,emit_cep,emit_lat,emit_long,prod_desc,prod_ncm,prod_cfop,prod_quant,prod_unid,prod_valor_unit,prod_valor_total
74046,1465794,9,2016-04-05 13:56:12,1459864572,40952.98,cristalia prod. quim. farmaceuticos ltda,44734671000151,faz e cristalia,itapira,13974900,-22.436111,-46.821667,dantrolen iv 20mg po. liof. inj.- 12fa + 12dil.,30049099,2201,1.0,cx,1674.48,1674.48
74126,1466452,1,2016-04-05 17:18:13,1459876693,1674.48,cristalia prod. quim. farmaceuticos ltda,44734671000151,faz e cristalia,itapira,13974900,-22.436111,-46.821667,dantrolen iv 20mg po. liof. inj.- 12fa + 12dil.,30049099,6107,1.0,cx,1674.48,1674.48