In [8]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [9]:
iforest = pd.read_csv(r'..\isolation forest\output\outliers.csv', encoding='latin-1')
iforest = iforest['idx']

som = pd.read_csv(r'..\som\output\outliers.csv', encoding='latin-1')
som = som['idx']

lof = pd.read_csv(r'..\lof\output\outliers.csv', encoding='latin-1')
lof = lof['idx']
lof

0      1942852
1      1942893
2      1625205
3      2065437
4      2055257
        ...
202    1054912
203    1077051
204    1087231
205     540577
206     809228
Name: idx, Length: 207, dtype: int64

In [10]:
def percentage_of_common_values(arr1, arr2):
    # Convert arrays to sets for efficient intersection calculation
    set1 = set(arr1)
    set2 = set(arr2)
    
    # Calculate the size of the intersection
    intersection_size = len(set1.intersection(set2))
    
    # Calculate the percentage
    percentage = (intersection_size / len(set1)) * 100
    
    return percentage

In [11]:
c1 = percentage_of_common_values(som, iforest)
c2 = percentage_of_common_values(som, lof)
c3 = percentage_of_common_values(lof, iforest)

In [12]:
c1

21.256038647342994

In [13]:
c2

0.0

In [14]:
c3

0.0

In [16]:
intersection_set = set(som).intersection(iforest)
intersection_list = list(intersection_set)
som_iforest = pd.DataFrame(intersection_list, columns=['idx'])
som_iforest.to_csv('output\som_iforest_intersec.csv', index=False)
som_iforest

        idx
0   2055047
1   2055049
2   1631882
3   1988875
4   2001164
5   2055055
6   1631760
7   2055057
8   1632275
9   1634197
10  1632407
11  1947004
12  2055069
13  1633054
14  2055071
15  1089316
16  2055077
17  1629222
18  1632039
19  2055079
20  1634602
21  1634603
22  2055085
23  1632761
24  2055093
25  1628482
26  1626310
27  1626311
28  2055368
29  2001226
30  1631567
31  1631699
32  2051292
33  2060002
34  2055270
35  1627751
36  1632876
37  1632620
38  1633390
39  1633391
40  2055033
41  2059259
42  1634300
43  2055038